<?
global $relativity,$img,$font,$resolutions,$screens;
$relativity = str_repeat('../',substr_count(ltrim(@$_SERVER['PATH_INFO'],'/'),'/'));

if(!isset($img))
	$img = $relativity.'img/';
if(!isset($font))
	$font = $relativity.'font/';

if(!isset($resolutions))
	$resolutions = [480,640,768,800,960,1024,1260,1366,1920];
	$screens = $resolutions;
	array_unshift($screens,0);
?>
$img: '<?=$img?>' !default;
$font: '<?=$font?>' !default;
$resolutions: (<?=implode(',',$resolutions)?>) !default;
$screens: (<?=implode(',',$screens)?>) !default;