<?
global $img,$resolutions,$screens;
if(!isset($img))
	$img = '../img/';
if(!isset($resolutions))
	$resolutions = array(480,640,768,800,960,1024,1260,1366,1920);
	$screens = $resolutions;
	array_unshift($screens,0);
?>
$img: '<?=$img?>' !default;
$resolutions: (<?=implode(',',$resolutions)?>) !default;
$screens: (<?=implode(',',$screens)?>) !default;

$color-main:				 #93A72D !default; //ff9900
$color-light:				 #F4F9E1 !default;
$color-dark:				 darken($color-main, 15%) !default; //=5E6B1D, old:515C19
