@import 'remodal';
geo-completer{
	>fieldset{
		@?include grid(*,100);
		@?include grid(100,100,100,960px);
		@?include grid(0-40-2,0-26-0,2-28-2,1639px);
		label{
			cursor: pointer;
			color: $color-main;
		}
		input{
			width:100%;
			line-height: 1.2em;
			font-size: 0.9em;
			margin-bottom:0.3em;
		}
		a{
			&.show_button{
				color:black;
				border: 1px solid #4d5d6d;
				border-radius: 4px;
				text-align:center;
			}
			margin-top: 0.25em;
			vertical-align: top;
		}
		>fieldset{
			@?include grid(*,100);
			@?include grid(50,50,50,50,50,50,960px);
			@?include grid(50,50,50,50,50,50,1639px);
			label,
			input{
				padding-top:0.5em;
				font-size: 0.7em;
				line-height: 0.9em;
				margin-bottom:0.05em;
			}
		}
	}
	legend{
		font-size: 1em;
		line-height: 1em;
		margin-bottom:0.1em;
		&:nth-child(1){
			width:100%;
		}
	}
	.ui-autocomplete {
		max-height: 160px;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 20px;
	}
}

.map-wrapper{
	height:20em;
}
.map-canvas{
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
	input[type="text"] {
		margin-top: 16px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		background-color: #fff;
		padding: 0 11px 0 13px;
		width: 400px;
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
		&:focus {
			border-color: #4d90fe;
			margin-left: -1px;
			padding-left: 14px;  // Regular padding-left + 1.
			width: 401px;
		}
	}
}
.pac-container {
	z-index:99999;
	&:after{
		content:none !important; //from google: "Our Autocomplete services do not need to be used in conjunction with a map, but it does require a “powered by Google” logo to appear under the text field if a map isn’t shown. "
	}
}
