[is="vertical-nav"] {
	background:#000;
	&, li ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-left: 0;
		a {
			font-size: 0.875rem;
			display: block;
			padding: 0.8rem 1rem 0.8rem 3rem;
			color: #ADADAD;
			border-bottom: solid 1px #000;
			text-overflow: ellipsis;
			overflow: hidden;
			position: relative;

			&, .leftNavIcon {
				line-height: 120%;
			}

			.leftNavIcon {
				position: absolute;
				top: 0;
				left: 0;
				width: 3rem;
				padding: 0.8rem 0;
				text-align: center;
			}
			-webkit-transition: color 0.2s ease;
			transition: color 0.2s ease;
			&:hover {
				color: #fff;
			}
		}
		ul {
			display: none;
			margin: 0;
			background-color: $color-main;
			li {
				
				margin-left: 24px;
				a {
					border-bottom: solid 1px $color-light;
				}
				&:last-child {
					a {
						border-bottom: none;
					}
				}
				&.active {
					a {
						color: $color-dark;
					}
				}
			}
		}
		&.active {
			> a {
				color: #fff;
			}
			ul {
				display: block;
			}
		}
	}
	> li {
		&.active {
			background-color: #000;
		}
	}
}