*{
	margin:0;
	padding:0;
	border:0;
}
html, body {
    height: 100%;
}
body{
	font-family: "Source Code Pro Light";
	font-size: 1em;
	color:#545454;
}
ul{
	list-style-type:none;
}
a{
	color: #e80505;
	text-decoration: none;
	&:hover,
	&:focus {
		color: #ab0000;
		text-decoration: underline;
	}
}
img{
	vertical-align: middle;
}
hr{
	border:1px solid #000;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
p{
	margin:1em;
}


.redcat-powered {
	float:right;
	clear:both;
	margin-right:0.6em;
	margin-bottom: 1px;
	text-shadow: 2px 2px 2px #969696;
	font-size:16px;
	
	font-size:0.9em;
	text-shadow: 2px 2px 2px #969696;
	.red{
		color: #e80505;
	}
	.cat{
		color:#000000;
	}
	&:hover{
		text-shadow: 2px 2px 2px #000;
	}
	&:hover,
	&:focus{
		text-decoration:none;
	}
	
	>a{
		text-decoration:none;
		color:#000;
		img{
			height:16px;
		}
		&:hover{
			text-decoration:none;
		}
		img{
			vertical-align:middle;
		}
	}
}

.home{
	.redcat-demo{
		height: 100vh;
		display:block;
		position:relative;
		float:left;
		text-align:center;
		width:100%;
		h1{
			&:first-child{
				padding-top:2.5em;
			}
			clear:both;
			margin:0 auto;
			position:relative;
			margin-left:20px;
			font-size:6em;
			text-shadow: 4px 2px 10px #777;
			.red{
				color:#e80505;
			}
			.cat{
				color:#000000;
			}
		}
		.paw{
			&::before{
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: normal;
				-webkit-font-smoothing: antialiased;
				speak: none;
				content: "\f1b0";
			}
			font-size: 10em;
			display:block;
			margin:0 auto;
			position:relative;
			text-shadow: 4px 2px 10px #777;
		}
	}
	.redcat-powered{
		position:fixed;
		bottom:5px;
		right:5px;
		z-index:10;
	}
}