@mixin backface-visibility($visibility){ // Prevent browsers from flickering when using CSS 3D transforms. Default value is `visible`, but can be changed to `hidden`
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	backface-visibility: $visibility;
}
