[is=dropdown]{
	height: auto;
	padding: 0;
	border-left: 1px solid #292929;
	border-right: 1px solid #4A4A4A;
	display: block;
	width: 100%;
	li > a{
		display: block;
		height: 100%;
		padding: 0 15px;
		//font-size: 10pt;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	li.open > a {
		text-decoration: none;
	}
	li.active > a {
		background: #333;
		color: $color-main;
	}
	>li{
		width: 100%;
		min-width: 83px;
		height: auto;
		padding: 0;
		margin-bottom: 1.3em;
		list-style: none;
		text-align: left;
		border: none;
		float:left;
		>ul{
			width: 100%;
			position: relative;
			top: 97%;
			background-color: transparent;
			text-align: left;
			left: 0;
			z-index: 1000;
			display: none;  /* none by default, but block on "open" of the menu */
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;    /* override default ul */
			list-style: none;
			text-align: left;    /* Ensures proper alignment if parent has it changed (e.g., modal footer) */
			background-clip: padding-box;
			border-radius: 4px;
			&::before,
			&::after {
				position: absolute;
				display: none;
				
				content: '';

				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #CCC;
				border-bottom-color: rgba(0, 0, 0, 0.2);
				top: -7px;
				left: 9px;
			}
			&::after {
				border-left-width: 6px;
				border-right-width: 6px;
				border-bottom-width: 6px;
				border-bottom-color: #fff;
				top: -6px;
				left: 10px;
			}
			&.active > a {
				color: $color-main;
				background: transparent;
			}
			a{
				padding: 6px 12px;
				//font-size: 1.2em;
				&:active,
				&:focus {
					background: #555 !important;
					outline: none;
				}
			}
			
			> li {				
				> a {
					display: block;
					padding: 3px 20px;
					clear: both;
					font-weight: normal;
					line-height: 1.428571429; /* 20/14  ??? */
					white-space: nowrap;  /* prevent links from randomly breaking onto new lines */
					padding: 5px 9px;
					margin: 0 6px;
					border-radius: 4px;
					&:hover,
					&:focus {
						text-decoration: none;
						color: #FFF;
						background-color: $color-main;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					}
				}
				&.active > a {  /* Active state */
					&,&:hover,&:focus {
						color: #fff;
						text-decoration: none;
						outline: 0;
						background-color: $color-main;
						text-shadow: none;
					}
				}
			}
			
		}
	}
	.open > & {
		display: block;
		& a {
			outline: 0;
		}
	}
	@media (min-width: 768px){
		>li>ul{
			position: absolute;
			>li>a{
				color: #333;
			}
		}
		&,
		&.collapse {
			display: block;
			overflow: visible;
			border: none;
			display: block;
			width: auto;
		}
		> li {
			float: left;
			height:100%;
			width: auto;
			margin-bottom: 0;
			text-align: center;
			> a{
				color: #888;
				&:hover {
					color: #ccc;
				}
			}
			>ul{
				width: auto;
				position: absolute;
				background-color: #fff;
				border: 1px solid #ccc; // IE8 fallback
				border: 1px solid rgba(0,0,0,.15);
				border-radius: 4px;
				@include box-shadow(0 6px 12px rgba(0,0,0,.175));
				&::before,
				&::after {
					display: inline-block;
				}
				
			}
		}
	}
}
.dropdown-backdrop { // Backdrop to catch body clicks on mobile, etc.
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 900;
}
