.sponsorListHolder{
	margin-bottom:30px;
}
.sponsor{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	position:relative;
	cursor:pointer;
}
sponsor-flip{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background:url("#{$img}sponsor-flip-bg.jpg") no-repeat center center #f9f9f9;
	&:hover{
		border:1px solid #999;
		-moz-box-shadow:0 0 30px #999 inset;
		-webkit-box-shadow:0 0 30px #999 inset;
		box-shadow:0 0 30px #999 inset;
	}
	img{
		/*position:absolute;
		top:50%;
		left:50%;
		margin:-70px 0 0 -70px;*/
		/*margin: 2.6em 0px 0px 1em; glop1, but not displaying (only this!?) */
		margin: 2% 0px 0px 2%;
		width: 96%;
		height: 96%;
	}
}
.sponsorData{
	display:none;
}
.sponsorDescription{
	font-size:16px; /* 11 */
	padding:50px 10px 20px 20px;
	font-style:italic;
}
.sponsorURL{
	font-size:11px;
	font-weight:bold;
	padding-left:20px;
						/* duckduckgo.com/?t=lm&q=crop+word+css ::: */
 	overflow: hidden;	/* http://stackoverflow.com/questions/3695435/crop-text-too-long-inside-div */ 
	white-space: nowrap;	/* Don't forget this one */
	text-overflow: ellipsis;
}
