.sponsorListHolder{
	margin-bottom:30px;
}
.sponsor{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	position:relative;
	cursor:pointer;
}
sponsor-flip{
	display: block;
	height:100%;
	border:1px solid #ddd;	
	background:url("#{$img}sponsor-flip-bg.jpg") no-repeat center center #f9f9f9;
	&:hover{
		border:1px solid #999;
		-moz-box-shadow:0 0 30px #999 inset;
		-webkit-box-shadow:0 0 30px #999 inset;
		box-shadow:0 0 30px #999 inset;
	}
	img{
		display: none;
	}
}
.sponsorData{
	display:none;
}
.sponsorDataBg {
    display: block;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.sponsorDescription{
	font-size:16px; /* 11 */
	padding:50px 10px 20px 20px;
	font-style:italic;
}
.sponsorURL{
	font-size:11px;
	font-weight:bold;
	padding-left:20px;
						/* duckduckgo.com/?t=lm&q=crop+word+css ::: */
 	overflow: hidden;	/* http://stackoverflow.com/questions/3695435/crop-text-too-long-inside-div */ 
	white-space: nowrap;	/* Don't forget this one */
	text-overflow: ellipsis;
}
