.tagsinput-wrap{
	.ui-widget-content .ui-state-focus{
		font-weight:normal;
		border:0;
		color:$color-dark;
		background: darken($color-light,15%);
	}
	.ui-widget-content a{
		color:$color-main;
		text-indent: 0.5em;
		padding-bottom:0.2em;
		text-decoration:none;
		width:100%;
		display:block;
		border-radius:0;
	}
	ul.ui-autocomplete{
		background:$color-light;
		border-top:0;
		border-top-left-radius:0;
		border-top-right-radius:0;
		border-color:#ccc;
	}
}
.tagsinput {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	position:relative;
	span.tag {
		border: 1px solid #ccc;
		border-radius:4px;
		display: block;
		float: left;
		text-decoration:none;
		background: $color-light;
		color:$color-dark;
		margin: 0 5px 5px 0;
		display:block;
		position:relative;
		>a,
		>span{
			float:left;
			display:block;
			padding-left: 0.5em;
			font-weight: normal;
			font-size: 1.2em;
			line-height:2em;
		}
		a {
			padding: 0 0.4em 0.2em;
			color: $color-main;
			text-decoration:none;
			&:hover{
				background: $color-dark;
			}
		}
	}
	input {
		width:100%;		
	}
	div{
		display:block;
		float: left;
	}
}
.tags_clear {
	clear: both;
	width: 100%;
	height: 0px;
}
.not_valid {
	background: #FBD8DB !important;
	color: #90111A !important;
}
