%redcat-powered {
	float:right;
	clear:both;
	font-size:11px;
	margin-right:0.6em;
	margin-bottom: 1px;
	text-shadow: 2px 2px 2px #969696;
	>a{
		text-decoration:none;
		color:#000;
		&:hover{
			text-decoration:none;
		}
		img{
			vertical-align:middle;
		}
	}
}