@mixin scale($ratio...) {
	-webkit-transform: scale($ratio);
	-ms-transform: scale($ratio); // IE9 only
	-o-transform: scale($ratio);
	transform: scale($ratio);
}
@mixin scale($ratioX, $ratioY...) {
	-webkit-transform: scale($ratioX, $ratioY);
	-ms-transform: scale($ratioX, $ratioY); // IE9 only
	-o-transform: scale($ratioX, $ratioY);
	transform: scale($ratioX, $ratioY);
}
