@font-face {
	font-family: 'Sourcecode Pro Light';
	src: url('#{$font}sourcecode-pro-light.eot');
	src: 		url('#{$font}sourcecode-pro-light.eot?#iefix') format('embedded-opentype'),
		url('#{$font}sourcecode-pro-light.woff2') format('woff2'),
		url('#{$font}sourcecode-pro-light.woff') format('woff'),
		url('#{$font}sourcecode-pro-light.ttf') format('truetype'),
		url('#{$font}sourcecode-pro-light.svg#SourceCodePro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}